@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.logo{
  height: 11vh;
  border-radius: 100px;
}

nav{
  background-color: #002B5B;
box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);

}
nav a:hover{
  color: #DA0037;
}
.nav-link{
  color: white;
  font-weight: 700;
  font-family: Roboto;
  font-size: 22px;
  transition: 0.3s ease;

}
/* Your existing CSS styles */

/* Additional styles for the drop-down menu */
.dropdown-menu {
    background-color: #002B5B;
    border: none;
    box-shadow: none;

}

.dropdown-menu a {
color: white;
}

.dropdown-menu a:hover {
    background-color:#002B5B;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
    color:#FF2171 ;
    transition: color 0.4s ease;
}


/* courses-bg-container */
.courses-bg-container{
  text-align: center;
  background-image: url("https://res.cloudinary.com/di1e0mwbu/image/upload/v1691471494/ece-img_tnwlwr.jpg");
   /* background-image: url(images/EEE1.jpg); */
  background-size: cover;
  height: 90vh;
}
.courses-inner-bg-container{
  background-color: #00000090;
  height: 90vh;
  background-size: cover;
}
.courses-main-heading{
  color: #00FFCA;
  padding-top:23%;
  padding-left: 2.5%;
  font-weight: bold;
  font-family: sans-serif;
  font-size:60px;
}
.courses-img-and-info{
   width: 450px;
   height: 400px;
   border-radius: 100px;



  }
  .courses-img-and-info-section{
    /* width: 50%; */
  }
.courses-info-side-heading{
  color: #002B5B;

  font-weight: bold;
  margin-top: 8px

}
.courses-info-side-paragraph{
  color:445069;
  font-size: 20px;
  font-weight: 500;;

}
.courses-info-container{
   /* background-color: #FFEECC; */
 /* background: linear-gradient(45deg, #FFEECC, #C8AE7D,#fff); */
}

.hr-line {
  background-color: #002B5B;
  color: white;
  width: 100%;
}

/* courses-lab-container */
 .courses-lab-container{
    background: linear-gradient(0deg,#fff,#408E91);
    /* background-color:  linear-gradient(top,#00FFCA,#408E91); */
 }
 .courses-lab-img{
   width: 100%;
   margin: 10px;
   border-radius: 10px;
 }
 /* MARQUE-SECTION */
 .marquee-container{
   margin: 30px;
   padding: 20px;
   border-style: dotted;
   border-width: 10px;
   border-color: #D8D8D8;
 }
 .marquee-main-heading{
   color:  #002B5B;
   font-weight: bold;
   font-size: 50px;
 }
 .marquee-img{
   width: 150px;
   margin: 5px;
   padding: 15px;
   border-color: #D8D8D8;
   border-width: 5px;
   border-style: solid;
   height: 100px;
   border-radius: 7px;
   radius:5px;
 }
/* FOOTER SECTION */

.footer-section-img {
    width: 100px;
    margin-bottom: 25px;
    border-radius: 50px;
}

.footer-bg-container {
    background-color: #002B5B;
    border-color:

}

.social-apps-logo {
    color:#DA0037 ;
    background-color: white;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 60px;
    padding-top: 12px;
    padding-left: 11px;
    padding-right: 16px;
    margin-left: 10px;
}

.footer-section-paragraph {
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.hr-line {
    background-color: #5a7184;
}

.footer-contact-section {
    font-weight: normal;
}
