.event-bg-container{
  background-image: url("https://res.cloudinary.com/di1e0mwbu/image/upload/v1690819867/svc_B-block_kjjwea.jpg");
  height: 80vh;
  background-size: cover;
}
.inner-bg-container{
  background-color: #00000070;
  height: 80vh;
}
.main-heading{

color: white;
  text-align: center;
  padding-top:  180px;
  font-weight: bold;
  font-size: 50px;
}
.sports-1-img{
  width :80vh;
  border-radius: 10px;
}
.cultural-sports-container{
  background: linear-gradient(to bottom,#C70039,#3085C3);
  color: white;
}
p{
  font-size: 17px;
}
